* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:#B8FFF9;
    border-bottom: 1px solid #bbb;
    padding: 60px;
    margin-bottom: -5px;
}

header img {
    width: 20px;
    box-shadow: 5px 5px 5px #999;
    border-radius: 200px;
}

#whatsapp img{
    margin-left: -1px;
    margin-right: 10px;
}

#facebook img {
    margin-left: -8px;
    margin-right: -10px;
}

.invite {
    font-size: xx-small;
    text-align: center;
    position: absolute;
    margin-top: -50px;
    padding: 8px;
    width: 100%;
    color: white;
    border: 1px solid white;
    background-color: #18978F;
}

.site-logo img {
    width: 50px;
    border-radius: 200px;
    padding: 2px;
    box-shadow: 5px 5px 5px #999;
    margin-top: -15px;
    margin-left: -60px;
} 

.site-logo h4 {
    margin-left: -5px;
    margin-top: -35px;
    font-size: small;
}

.date {
    position: absolute;
    left: 0px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid;
    width: 100%;
    background-color: #18978F;
    color: white;
    padding: 8px;
}

nav {
    font-size: small;
    list-style-type: none;
    margin-top: -1px;
    text-align:right;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: -42px;
    margin-top: 8px;
}

nav button {
    background-color: transparent;
    border: .5px solid;
    font-size: 20px;
    color: #555;
    margin-top: -50px;
    margin-left: 15px;
    margin-right: -42px;
    padding: 5px;
}

nav ul li a {
    display: block;
    padding: .5rem 2vw;
    color: #333;
    text-decoration: none;
}

nav ul li {
    border-right: 5px solid #18978F;
    border-radius: 10px;
}

nav ul li.active a {
    color: red;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {
    display: none;
    
}
nav ul.open {
    display: block;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 5px;
    position: relative;
    padding-bottom: 10px;
}

.hero-image {
    grid-column: 1/7;
    padding: 5px;
    margin-left: 3px;
    margin-top: 30px;
    box-shadow: 0 0 10px grey;
}

.hero-image img {
    height: 200px;
    width: 100%;
}

.welcome {
    position: absolute;
    left: 20px;
    color: #06113C;
    text-shadow: 0 0 1px;
    padding: 10px;
    margin-top: 30px;
}

#join-button {
    position: absolute;
    top: 160px;
    right: 20px;
    border: 1px solid;
    border-radius: 15px;
    background-color:#18978F;
    width: 180px;
    height: 45px;
    font-size: 15px;
}

#join-button a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

#join-button a:hover {
    text-decoration: underline;
}

#join-button p {
    margin-top: 8px;
    margin-left: 30px;
}

#join {
    box-shadow: 0 0 10px #999;
}

#join h6 {
    text-align: center;
}

#join p {
    margin-top: 80px;
    text-align: center;
}

.join-us {
    display: none;
    position: absolute;
    top: 470px;
    left: 20px;
    border: 1px solid;
    border-radius: 15px;
    color: white;
    background-color:#2E0249;
    width: 230px;
    height: 40px;
}

.join-us p {
    list-style-type: none;
    font-size: 16px;
    text-align: center;
    margin-left: 15px;
    padding: 10px;
    margin-top: -1px;
}

.join-us a {
    color: white;
    text-decoration: none;
}

.join-us a:hover {
    text-decoration: underline;
}


main h5 {
    text-align: center;
    margin-top: 15px;
}

.event {
    background-color: #EFFFFD;
    grid-column: 1/7;
    height: 200px;
    padding: 5px;
    box-shadow: 0 0 10px #999;
    margin-top: -5px;
}

.event h6 {
    text-align: center;
    color: #06113C;
    text-shadow: 0 0 1px;
    margin-top: 10px;
}

.event p {
    text-align: center;
    margin-top: 5px;
}

#info a {
    color: blueviolet;
    text-decoration: none;
}

.info a {
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

#info:hover {
    text-decoration: underline;
}

.release {
    background-color: #EFFFFD;
    grid-column: 1/7;
    height: 200px;
    padding: 10px;
    box-shadow: 0 0 10px #999;
}

.release p {
    text-align: center;
    margin-top: -10px;
    padding: 10px;
}

main p {
    font-size: small;
    padding: 5px;
}


#contact {
    border-bottom: none;
    color: blueviolet;
}

.release h2 {
    margin-top: 2px;
    text-align: center;
    color: #06113C;
    text-shadow: 0 0 2px;
}

.weather {
    background-color: #EFFFFD;
    grid-column: 1/7;
    height: 200px;
    padding: 5px;
    box-shadow: 0 0 10px #999;
    font-size: 10px;
    text-align: center;
}

.weather h2 {
    text-align: center;
    color: #06113C;
    text-shadow: 0 0 1px;
}


figcaption {
    display: flex;
    flex-direction: column;
    text-align: center;
}

figcaption p {
    font-size: small;
    margin-top: 10px;
}

figcaption h6 {
    font-size: small;
    border-bottom: 1px solid;
    text-shadow: 0 0 5px;
    padding: 5px;
}

figcaption img {
    margin-top: -15px;
    padding: 5px;
}

.spotlights h6 {
    text-align: center;
    color: #06113C;
    text-shadow: 0 0 1px;
    margin-top: 10px;
}

.spotlights img {
    height: 80px;
    width: 80px;
    margin-left: 70px;
}

.spotlights p {
    text-align: center;
    border-bottom: 1px solid;
}

#join {
    display: none;
}

.spotlight-3 {
    display: none;
}

.spotlights {
    background-color: #EFFFFD;
    grid-column: 1/7;
    height: 400px;
    padding: 5px;
}

.spotlights {
    display: grid;
    grid-template-columns: 1fr  1fr;
    padding: 10px;
}

.spotlights p {
    text-shadow: 0 0 1px;
    border-bottom: none;
}

.spotlight-1 {
    grid-row: 1/4;
    grid-column:1/5;
    border: .5px solid;
    border-color: #bbb;
    padding: 10px;
    margin-top:-1px;
    box-shadow: 0 0 10px #999;
    text-align: center;
}

.spotlight-1 img {
    width: 60px;
    height: 60px;
    margin-left: -1px;
    margin-top: 10px;
}

.spotlight-1 h2 {
    text-align: center;
    border-bottom: 1px solid;
}

.spotlight-2 {
    grid-row: 4/7;
    grid-column: 1/5;
    border: .5px solid;
    border-color: #bbb;
    margin-top:10px ;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #999;
    text-align: center;
}

.spotlight-2 img {
    width: 60px;
    height: 60px;
    margin-left: -5px;
    margin-top: 10px;
}

.spotlight-2 h2 {
    text-align: center;
    border-bottom: 1px solid;
}

footer {
    display: flex;
    flex-direction:column;
    font-size: small;
    background-color:#B8FFF9;
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
}

.footer-heading{
    padding: 10px;
}

.info {
    padding: 10px;
}

.copyright {
    padding: 6px;
}

footer img {
    width: 40px;
    margin-top: 20px;
}


.footer-logo img {
    border: 1px solid #ccc;
    padding: 3px;
    box-shadow: 5px 5px 5px #999;
    border-radius: 200px;

}


.discovery-pictures img[data-src] {
    filter: blur(0.2em);
  }
  
.discovery-pictures img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

.discovery-pictures img {
    width: 100%;
    height: 200px;
    padding: 5px;
    margin-left: -1px;
    /* margin-right: 15px; */
    box-shadow: 0 0 10px #999;
    margin-top: 20px;
}

.discovery-pictures img[data-src] {
  width: 100%;
  height: 200px;
  padding: 5px;
}

.text {
    display: none;
}

#airport-image img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    box-shadow: none;
}

.airport-grid {
    padding: 5px;
}

.longbeach-grid {
    padding: 5px;
}

.monument-grid {
    padding: 5px;
}

.stadium-grid {
    padding: 5px;
}

.e-library-grid {
    padding: 5px;
}

#airport {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#longbeach {
    margin-left: 10px;
    margin-right: 10px;
}

#monument {
    margin-left: 10px;
    margin-right: 10px;
}

#stadium {
    margin-left: 10px;
    margin-right: 10px;
}

#e-library {
    margin-left: 10px;
    margin-right: 10px;
}

#longbeach-image img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    box-shadow: none;
}

#monument-image img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    box-shadow: none;
}

#stadium-image img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    box-shadow: none;
}

#library-image img {
    width: 100px;
    height: 100px;
    /* margin-left: 10px;
    margin-right: 10px; */
    box-shadow: none;
}

.number-of-visits {
    grid-column: 2/4;
    width: 200px;
    text-align: center;
    color: white;
    background-color: #06113C;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #999;
    margin-left: 10px;
    margin: auto;
    margin-top: 8px;
}

.join-home-grid {
    display: flex;
    flex-direction: column;
}

.become-member {
    width: auto;
    background-color: white;
    font-size: small;
    border: 1px solid;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.become-member h1 {
    color: black;
}

.form-grid {
    background-color: #999;
    padding: 15px;
    margin-top: 30px;
    width: auto;
    margin-top: 32px;
    border-radius: 10px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

.form-grid label {
   text-align: left;
   margin-top: 10px;
}

.form-grid input {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}


.form-grid #submit {
    width: 100px;
    border: 1px;
    border-radius: 5px;
    margin:auto;
    color: green;
    margin-top: 20px;
    margin-left: 130px;
    border-color: black;
}

.form-grid #submit:hover {
    cursor: pointer;
}

.form-grid button:hover {
    text-decoration: wavy;
    background-color: chartreuse;
}

.form-grid textarea {
    display: flex;
    align-self: center;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

#choose {
    margin-top: 10px;
}

#autologin-1 {
    width: auto;
    
}

#autologin-2 {
    width: auto;
   
}

#autologin-3 {
    width: auto;
    
}

#autologin-4 {
    width: auto;
    
}

#np {
    padding: 10px;
}

#gold {
    padding: 10px;
}

#bronze {
    padding: 10px;
}

#silver {
    padding: 10px;
}

#check-2 img {
    width: 20px;
    height: 20px;
}

#check-1 img {
    width: 20px;
    height: 20px;
}

#check-3 img {
    width: 20px;
    height: 20px;
}

#check-4 img {
    width: 20px;
    height: 20px;
}

#business-description {
    margin-top: 20px;
}

.benefits {
    display: none;
}

.thank-you {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-top: 20px;
}


#welcome {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #999;
    text-align: center;
}

#thank-you-image-1 {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #999;
    text-align: center;
}

#thank-you-image-1 img {
    width: 100px;
    height: 100px;
    /* margin-left: 90px; */
}

#thank-you-image-2 {
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #999;
    text-align: center;
}

#thank-you-image-2 img {
    width: 100px;
    height: 100px;
}


.cards img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
}

.grid .cards section {
    background-color: white;
    padding:10px;
    height: 400px;
    width: 100%;
    box-shadow: 0 0 30px gray;
    border-radius: 5px;
    margin: auto;
    margin-left: -3px;
    margin-top: 15px;
}


.grid .cards section {
    transition: none;
}
  
.grid .cards section:hover {
    -ms-transform: none; 
    -webkit-transform: none; 
    transform: none; 
}

.cards {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 10px;
}

.cards p, h6 {
    text-align: center;
    font-size: small;
}

#directory-header {
    text-align: center;
    font-size: small;
}

.cards h2 {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu img {
    padding: 1rem;
    margin-top: 10px;
}

.menu img {
    height: 60px;
    width: 60px;
    border: 1px solid #ccc;
    background-color: transparent;
}


.grid .cards{
    display: flex;
    flex-direction: column;
	align-items: center;
}


.grid section {
	flex-direction: column;
	text-align: center;
}

.grid #directory-header {
    font-size: x-large;
}

.grid article, section {
    margin: 0.25rem;
}

.list {
	display: flex;
	flex-direction: column;
}


.list section {
	display: flex;
	align-items: center;
    margin-top: 70px;
    box-shadow: none;
}

.list section > * {
    margin: 0 1rem;
    text-align: left;
}

.list section h1 {
    margin-top: -50px;
    align-self: flex-start;
}


.list  section {
    flex-direction: column;
	justify-content: left;
}


.list .cards img {
	display: none; 
}

.list article, section {
    margin: 0.25rem;
}

.list .cards section {
    box-shadow: 0 0 30px gray;
    padding: 20px;
    width: 100%;
    margin-left: -2px;
}

.list .cards section {
    transition: none;
}
  
.list .cards section:hover {
    -ms-transform: none; 
    -webkit-transform: none; 
    transform: none; 
}

.list #directory-header {
    position: absolute;
    font-size: x-large;
    margin-left: 20px;
}

.list article, h5 {
    display: none;
}

.contact-form-grid {
    background-color: grey;
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    border-radius: 10px;
    border: 1px solid;
}

.contact-form-grid label {
   text-align: left;
   margin-top: 10px;
}

.contact-form-grid input {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}


.contact-form-grid #submit {
    width: 100px;
    border: 1px;
    border-radius: 5px;
    color: green;
    margin-top: 20px;
    margin-left: 120px;
}

.contact-form-grid #submit:hover {
    cursor: pointer;
}

.contact-form-grid button:hover {
    text-decoration: wavy;
    background-color: chartreuse;
}

.contact-form-grid textarea {
    display: flex;
    align-self: center;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

.contact {
    border: 1px solid;
    border-style: ridge;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    text-align: center;
}

.contact h6 {
    margin-left: 8px;
}

.contact p {
    margin-left: 4px;
}

.contact img {
    margin-left: 4px;
    margin-top: 20px;
}

.contact h1 {
    margin-left: 4px;
    margin-top: -2px;
}

.ask {
    text-align: center;
    font-size: xx-small;
    margin-top: 40px;
    width: auto;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
