@media only screen and (min-width: 900px) {
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header, main, footer {
    width: 100%;
}

header {
    padding: 10px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-width: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 0 10px #888
}

ul {
    margin-left: 20px ;
    margin-top: 20px;
    padding: 15px;
}

h2 {
    font-size: large;
    padding: 5px;
    color: red;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
}

.home-grid {
    grid-row: 1;
    grid-column: 2/6;
    border: .2px solid purple;
    box-shadow: 10px 10px 4px 1px #888
}


header h1 {
    font-size: xx-large;
    grid-row: 1;
    grid-column: 4;
    margin-left: -230px;
    color: red;
    text-shadow: 0 0 3px;
}

header img {
    grid-row: 1;
    grid-column: 3;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 4px 1px #888;
}

header picture {
    grid-row: 1;
    grid-column: 2;
}

footer {
    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #888;
    padding: 10px;
    text-align: center;
    height: 150px;
    margin-bottom: 20px;
}

.paragraph-color {
    color: purple;
}

h1, h2 {
    font-family: 'Noto Serif', serif;
}

main p {
    text-align: center;
}

}